.counter-box {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.counter-box .buttons {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.counter-box .buttons button {
  font-size: 20px;
  padding: 15px;
  background-color: white;
  border: none;
  border-radius: 50px;
}
